* {
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: lavender;
}
h1 {
  text-align: center;
  font-size: 110px;
}

.errors {
  text-align:end;
  font-size: 45px;
}

.keyWord {
  text-align: center;
  font-size: 45px;
  display: flex;
}

.prompt {
  font-size: 45px;
}

.letters {
  display: inline-flex;
  font-size: 400%;
  cursor: pointer;
}

button {
  font-size: 150%;
}

.container {
  justify-content: left;
}

.hidden {
  color: rgba(0, 0, 0, 0)
}


.underline { 
  margin-top: -50px;
}